<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>	
</head>
<body>
    <h1>Welcome to the Main Page</h1>
    <ul>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'quotes_list' %}">Quotes</a></li>
        <li><a href="{% url 'authors_list' %}">Authors</a></li>	
		<li><a href="{% url 'login' %}">Login</a> to access additional functionalities.</li>		
    {% if user.is_authenticated %}
		<li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'add_author' %}">Add Author</a></li>
        <li><a href="{% url 'add_quote' %}">Add Quote</a></li>
		<li><a href="{% url 'password_reset' %}">Forgot Password</a></li>
    {% endif %}

    </ul>
</body>
</html>
